@import "../../styles/variables.scss";

.contact-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 4rem 0;
  background-color: $Soft-Blue;
  color: white;

  .contact-title {
    text-align: center;
    font-size: 2.2rem;
    font-weight: 500;
    max-width: 40%;

    @media (max-width: 700px) {
      max-width: 90%;
      font-size: 1.8rem;
      margin-bottom: 2rem;
    }
  }

  .contact-subtitle {
    font-size: 0.9rem;
    margin: 0 auto;
    letter-spacing: 0.4rem;

    @media (max-width: 700px) {
      text-align: center;
    }
  }

  .contact-form {
    display: flex;
    gap: 1rem;

    @media (max-width: 700px) {
      flex-direction: column;
    }

    .input-wrapper {
      display: flex;
      flex-direction: column;
      background-color: $Soft-Red;
      border-radius: 0.3rem;

      .contact-input {
        width: 280px;
        padding: 0 1.1rem;
        font-size: 1rem;
        height: 50px;
        border: none;
        border-radius: 0.3rem;
      }

      .contact-input:focus {
        outline: none;
      }

      .error {
        height: 44px;
        border: 3px solid $Soft-Red;
        background-image: url("https://raw.githubusercontent.com/agusscript/bookmark-landing-page-react/94e3c897806c16012cf307075055aaf7b9fe48d9/src/assets/images/icon-error.svg");
        background-size: 20px 20px;
        background-repeat: no-repeat;
        background-position: 280px 0.7rem;
      }

      .error-text {
        padding: 0.15rem 0 0.4rem 0;
        margin-left: 1rem;
        font-size: 0.86rem;
        background-color: $Soft-Red;
        border-bottom-left-radius: 0.3rem;
        border-bottom-right-radius: 0.3rem;
      }

      .hidden {
        display: none;
      }
    }

    ::placeholder {
      color: $Grayish-Blue;
    }

    .contact-btn {
      @include btn-default($Soft-Red);
      width: 130px;
      height: 50px;
      letter-spacing: 0.02rem;

      @media (max-width: 700px) {
        width: 100%;
      }
    }

    .contact-btn:hover {
      background-color: white;
      color: $Soft-Red;
    }

    .contact-btn:active {
      background-color: $Soft-Blue;
    }
  }

  .contact-modal {
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    top: 50%;
    left: 50%;
    max-width: 520px;
    min-height: 300px;
    padding: 1rem 4rem;
    line-height: 1.7rem;
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    animation: smoth 0.4s;
    background-color: $Very-Dark-Blue;
    border-radius: 0.4rem;
    box-shadow: 0px 6px 8px 0px rgba(169, 196, 218, 0.363);

    @media (max-width: 810px) {
      padding: 1rem 2rem;
      width: 70vw;
    }

    h2 {
      margin: 0.5rem;
      font-size: 2.2rem;
      font-weight: 500;
      line-height: 2.2rem;

      @media (max-width: 810px) {
        font-size: 1.8rem;
      }
    }

    p {
      font-size: 1.1rem;
      letter-spacing: 0.2rem;

      @media (max-width: 810px) {
        font-size: 1rem;
      }
    }

    button {
      @include btn-default($Soft-Blue);
      margin-top: 1rem;
      width: 140px;
      height: 46px;
      letter-spacing: 0.02rem;
    }

    button:hover {
      background-color: transparent;
    }

    button:active {
      background-color: $Soft-Blue;
    }

    @keyframes smoth {
      0% {
        opacity: 0;
      }
      100% {
        opacity: 1;
      }
    }
  }

  .hidden {
    display: none;
  }
}
