@import "variables.scss";

footer {
  background-color: $Very-Dark-Blue;
  padding: 2rem 0;
  display: flex;
  align-items: center;
  justify-content: space-around;

  @media (max-width: 700px) {
    flex-direction: column;
    text-align: center;
    gap: 3.2rem;
  }

  .nav-container {
    display: flex;
    align-items: center;
    gap: 1.2rem;

    @media (max-width: 700px) {
      flex-direction: column;
      gap: 3rem;
    }

    img {
      width: 170px;
    }

    nav {
      ul {
        margin: 0;
        display: flex;
        letter-spacing: 0.1rem;
        font-size: 0.87rem;
        gap: 3rem;
        text-transform: uppercase;
        list-style: none;

        @media (max-width: 700px) {
          flex-direction: column;
          padding: 0;
          gap: 2.2rem;
          font-size: 1rem;
        }

        a {
          text-decoration: none;
          color: white;
        }

        a:hover {
          color: $Soft-Red;
        }
      }
    }
  }

  .icon-container-footer {
    display: flex;
    align-items: center;
    gap: 2rem;

    svg:hover {
      cursor: pointer;
      path {
        fill: $Soft-Red;
      }
    }
  }
}
