@import "variables.scss";

body {
  margin: 0;
  padding: 0;
  font-family: "Rubik", serif;
  overflow-x: hidden;
}

main {
  margin: 0;
  padding: 0;
}

.hero-section {
  margin: 4rem auto;
  width: 80%;
  display: flex;
  align-items: center;
  gap: 2rem;

  .hero-text-container {
    width: 50%;

    h1 {
      margin: 0;
      font-size: 3rem;
      font-weight: 500;
      color: $Very-Dark-Blue;
    }

    p {
      font-size: 1.15rem;
      line-height: 1.8rem;
      color: $Grayish-Blue;
    }

    .btn-container {
      margin-top: 1.8rem;
      display: flex;
      gap: 1rem;

      button {
        @include btn-default($Soft-Blue);
        padding: 0.8rem 1.4rem;
        letter-spacing: 0;
      }

      .chrome-btn:hover {
        background-color: transparent;
        color: $Soft-Blue;
      }

      .firefox-btn {
        background-color: $Light-Grayish-Blue;
        color: hsla(229, 31%, 21%, 0.781);
        border-color: transparent;
      }

      .firefox-btn:hover {
        border-color: hsla(229, 31%, 21%, 0.781);
        background-color: transparent;
      }
    }
  }

  .img-container {
    position: relative;

    .hero-img {
      width: 700px;
      margin-right: -100px;
    }

    .bg-img {
      position: absolute;
      width: 1000px;
      height: 370px;
      background-color: $Soft-Blue;
      border-bottom-left-radius: 12rem;
      z-index: -1;
      top: 30%;
      left: 34%;
    }
  }
}

.features-section {
  margin: 8rem auto;
  width: 80%;

  .feature-header {
    text-align: center;

    h2 {
      font-size: 2.5rem;
      font-weight: 500;
      color: $Very-Dark-Blue;
    }

    p {
      font-size: 1.15rem;
      line-height: 1.8rem;
      color: $Grayish-Blue;
      max-width: 52%;
      margin: 0 auto;
    }

    nav {
      margin: 5rem auto;
      max-width: 62%;
      padding-bottom: 1rem;
      padding-right: 3.2rem;
      border-bottom: 1px solid $Grayish-Blue;

      ul {
        padding-right: 6rem;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        gap: 2rem;
        list-style: none;

        li {
          a {
            font-size: 1.1rem;
            letter-spacing: 0.02rem;
            color: $Grayish-Blue;
            text-decoration: none;
          }

          a:hover {
            color: $Soft-Red;
          }
        }
      }
    }
  }

  .feature-main {
    display: flex;
    align-items: center;
    gap: 5rem;

    .img-container {
      position: relative;

      .hero-img {
        width: 700px;
        margin-right: -100px;
      }

      .bg-img {
        position: absolute;
        width: 1000px;
        height: 340px;
        background-color: $Soft-Blue;
        border-bottom-right-radius: 12rem;
        z-index: -1;
        top: 26%;
        right: 12%;
      }
    }

    h2 {
      font-size: 2rem;
      font-weight: 500;
      color: $Very-Dark-Blue;
    }

    p {
      font-size: 1.15rem;
      line-height: 1.8rem;
      color: $Grayish-Blue;
      max-width: 95%;
    }

    .info-btn {
      @include btn-default($Soft-Blue);
      margin-top: 1rem;
      padding: 0.8rem 1.4rem;
      letter-spacing: 0.02rem;
    }

    .info-btn:hover {
      background-color: transparent;
      color: $Soft-Blue;
    }
  }
}
