@import "variables.scss";

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Rubik", serif;
  overflow-x: hidden;
}

main {
  margin: 0;
  padding: 0;
}

.hero-section {
  margin: 4rem auto;
  width: 80%;
  display: flex;
  align-items: center;
  gap: 2rem;

  .hero-text-container {
    width: 50%;

    h1 {
      margin: 0;
      font-size: 3rem;
      font-weight: 500;
      color: $Very-Dark-Blue;
    }

    p {
      font-size: 1.15rem;
      line-height: 1.8rem;
      color: $Grayish-Blue;
    }

    .btn-container {
      margin-top: 1.8rem;
      display: flex;
      gap: 1rem;

      button {
        @include btn-default($Soft-Blue);
        padding: 0.8rem 1.4rem;
        letter-spacing: 0;
      }

      .chrome-btn:hover {
        background-color: transparent;
        color: $Soft-Blue;
      }

      .firefox-btn {
        background-color: $Light-Grayish-Blue;
        color: hsla(229, 31%, 21%, 0.781);
        border-color: transparent;
      }

      .firefox-btn:hover {
        border-color: hsla(229, 31%, 21%, 0.781);
        background-color: transparent;
      }
    }
  }

  .img-container {
    position: relative;

    .hero-img {
      width: 700px;
      margin-right: -100px;
    }

    .bg-img {
      position: absolute;
      width: 1000px;
      height: 370px;
      background-color: $Soft-Blue;
      border-bottom-left-radius: 12rem;
      z-index: -1;
      top: 30%;
      left: 34%;
    }
  }
}

.features-section {
  margin: 10rem auto;
  width: 80%;

  .feature-header {
    text-align: center;

    h2 {
      font-size: 2.5rem;
      font-weight: 500;
      color: $Very-Dark-Blue;
    }

    p {
      font-size: 1.15rem;
      line-height: 1.8rem;
      color: $Grayish-Blue;
      max-width: 52%;
      margin: 0 auto;
    }

    nav {
      margin: 5rem auto;
      max-width: 68%;
      padding-bottom: 1rem;

      .feature-bottom-line {
        margin-top: 2rem;
        border-bottom: 1px solid rgb(221, 221, 221);
        display: flex;
        justify-content: start;
        transition: all 1s;

        .inner-border {
          width: 33%;
          border-top: 4px solid $Soft-Red;
        }

        .move-to-right {
          margin-left: 3.5rem;
        }
      }

      .start {
        justify-content: start;
      }

      .center {
        justify-content: center;
      }

      .end {
        justify-content: end;
      }

      ul {
        padding-right: 3rem;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        gap: 4.5rem;
        list-style: none;

        li {
          span {
            font-size: 1.1rem;
            letter-spacing: 0.02rem;
            color: $Grayish-Blue;
          }

          span:hover {
            cursor: pointer;
            color: $Soft-Red;
          }
        }
      }
    }
  }

  .feature-main {
    display: flex;
    align-items: center;
    gap: 8rem;

    .img-container {
      margin-left: 2rem;
      position: relative;

      .hero-img {
        width: 700px;
        margin-right: -100px;
      }

      .bg-img {
        position: absolute;
        width: 1000px;
        height: 340px;
        background-color: $Soft-Blue;
        border-bottom-right-radius: 12rem;
        z-index: -1;
        top: 26%;
        right: 12%;
      }
    }

    @keyframes fade {
      0% {
        opacity: 0;
        transform: scale(1.1);
      }
      100% {
        opacity: 1;
        transform: scale(1);
      }
    }

    .text-container {
      h2 {
        font-size: 2rem;
        font-weight: 500;
        color: $Very-Dark-Blue;
      }

      p {
        font-size: 1.15rem;
        line-height: 1.8rem;
        color: $Grayish-Blue;
        max-width: 95%;
      }

      .info-btn {
        @include btn-default($Soft-Blue);
        margin-top: 1rem;
        padding: 0.8rem 1.4rem;
        letter-spacing: 0.02rem;
      }

      .info-btn:hover {
        background-color: transparent;
        color: $Soft-Blue;
      }
    }
  }

  .animation-fade {
    animation: fade 1s;
  }
}

.download-section {
  margin: 10rem auto;
  width: 80%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  h2 {
    margin-top: 4rem;
    color: $Very-Dark-Blue;
    font-size: 2.2rem;
    font-weight: 500;
  }

  p {
    font-size: 1.15rem;
    line-height: 1.8rem;
    color: $Grayish-Blue;
    max-width: 52%;
    margin: 0 auto;
  }

  .card-container {
    width: 88%;
    margin: 2.4rem 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 1rem;
    justify-items: center;

    .card-extension {
      width: 280px;
      height: 360px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: end;
      box-shadow: 0px 6px 8px 0px rgba(169, 196, 218, 0.363);
      border-radius: 1rem;

      img {
        margin-bottom: 2rem;
      }

      h3 {
        margin: 0.4rem;
        font-size: 1.5rem;
        font-weight: 500;
        color: $Very-Dark-Blue;
      }

      p {
        font-size: 0.95rem;
        margin-bottom: 1rem;
      }

      hr {
        margin: 0;
        width: 100%;
        height: 24px;
        font-weight: bolder;
        color: rgba(189, 189, 189, 0.658);
        border: none;
        overflow: hidden;
      }

      hr:after {
        content: "...............";
        letter-spacing: 16px;
      }

      .extension-btn {
        margin: 1rem 0 1.8rem 0;
        @include btn-default($Soft-Blue);
        padding: 0.8rem 1.6rem;
        letter-spacing: 0.04rem;
      }

      .extension-btn:hover {
        background-color: transparent;
        color: $Soft-Blue;
      }
    }

    .card-extension:nth-child(2) {
      margin-top: 2.4rem;
    }

    .card-extension:nth-child(3) {
      margin-top: 4.4rem;
    }
  }
}

.faq-section {
  margin: 10rem auto;
  width: 80%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  h2 {
    color: $Very-Dark-Blue;
    font-size: 2.2rem;
    font-weight: 500;
  }

  p {
    font-size: 1.15rem;
    line-height: 1.8rem;
    color: $Grayish-Blue;
    max-width: 50%;
    margin: 0 auto;
  }

  .faq-container {
    max-width: 55%;
    margin-top: 3.6rem;

    hr {
      margin: 0;
      border: none;
      border-bottom: 1px solid rgba(187, 187, 187, 0.788);
    }

    .faq-row-wrapper {
      .faq-body {
        .faq-row {
          .row-title {
            margin: 0.3rem 0;
            font-size: 1.2rem;
            color: $Very-Dark-Blue;
            font-weight: 400;
            user-select: none;

            .icon-wrapper {
              margin-top: 0.45rem;
              display: flex;
              align-items: center;
              justify-content: center;

              svg {
                fill: $Soft-Blue;
                width: 36px;
                height: 36px;
              }
            }
          }

          .row-title:hover {
            color: $Soft-Red;
          }

          .row-content {
            .row-content-text {
              margin: 1.1rem 0;
              font-size: 1rem;
              line-height: 1.8rem;
              letter-spacing: 0.03rem;
              color: $Grayish-Blue;
              text-align: start;
              user-select: none;
            }
          }
        }
      }
    }
  }

  .faq-btn {
    @include btn-default($Soft-Blue);
    margin-top: 4rem;
    padding: 0.8rem 1.4rem;
    letter-spacing: 0.02rem;
  }

  .faq-btn:hover {
    background-color: transparent;
    color: $Soft-Blue;
  }
}

.contact-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 4rem 0;
  background-color: $Soft-Blue;
  color: white;

  .contact-title {
    text-align: center;
    font-size: 2.2rem;
    font-weight: 500;
    max-width: 40%;
  }

  .contact-subtitle {
    font-size: 0.9rem;
    margin: 0 auto;
    letter-spacing: 0.4rem;
  }

  .contact-form {
    display: flex;
    gap: 1rem;

    .input-wrapper {
      display: flex;
      flex-direction: column;
      background-color: $Soft-Red;
      border-radius: 0.3rem;

      .contact-input {
        width: 280px;
        padding: 0 1.1rem;
        font-size: 1rem;
        height: 50px;
        border: none;
        border-radius: 0.3rem;
      }

      .contact-input:focus {
        outline: none;
      }

      .error {
        height: 44px;
        border: 3px solid $Soft-Red;
        background-image: url("https://raw.githubusercontent.com/agusscript/bookmark-landing-page-react/94e3c897806c16012cf307075055aaf7b9fe48d9/src/assets/images/icon-error.svg");
        background-size: 20px 20px;
        background-repeat: no-repeat;
        background-position: 280px 0.7rem;
      }

      .error-text {
        padding: 0.15rem 0 0.4rem 0;
        margin-left: 1rem;
        font-size: 0.86rem;
        background-color: $Soft-Red;
        border-bottom-left-radius: 0.3rem;
        border-bottom-right-radius: 0.3rem;
      }

      .hidden {
        display: none;
      }
    }

    ::placeholder {
      color: $Grayish-Blue;
    }

    .contact-btn {
      @include btn-default($Soft-Red);
      width: 130px;
      height: 50px;
      letter-spacing: 0.02rem;
    }

    .contact-btn:hover {
      background-color: white;
      color: $Soft-Red;
    }

    .contact-btn:active {
      background-color: $Soft-Blue;
    }
  }

  .contact-modal {
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    top: 50%;
    left: 50%;
    max-width: 520px;
    min-height: 300px;
    padding: 0 4rem;
    line-height: 1.7rem;
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    animation: smoth 0.4s;
    background-color: $Very-Dark-Blue;
    border-radius: 0.4rem;

    h2 {
      margin: 0.5rem;
      font-size: 2.2rem;
      font-weight: 500;
    }

    p {
      font-size: 1.1rem;
      letter-spacing: 0.2rem;
    }

    button {
      @include btn-default($Soft-Blue);
      margin-top: 1rem;
      width: 140px;
      height: 46px;
      letter-spacing: 0.02rem;
    }

    button:hover {
      background-color: transparent;
    }

    button:active {
      background-color: $Soft-Blue;
    }

    @keyframes smoth {
      0% {
        opacity: 0;
      }
      100% {
        opacity: 1;
      }
    }
  }

  .hidden {
    display: none;
  }
}
