@import "../../styles/variables.scss";

header {
  margin: 0 auto;
  width: 80%;
  height: 20vh;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .nav-container {
    display: flex;
    align-items: center;
    gap: 3rem;
    animation: fade 1s;

    nav {
      text-transform: uppercase;
      letter-spacing: 0.1rem;
      font-size: 0.9rem;

      ul {
        display: flex;
        align-items: center;
        gap: 3rem;
        list-style: none;

        .bottom-line-li {
          width: 100%;
          border-bottom: 1px solid rgba(189, 189, 189, 0.308);
          margin: 0;
        }

        li {
          a {
            color: $Very-Dark-Blue;
            text-decoration: none;
          }

          a:hover {
            color: $Soft-Red;
          }
        }
      }
    }

    .login-btn {
      @include btn-default($Soft-Red);
      padding: 0.72rem 2rem;
      text-transform: uppercase;
    }

    .login-btn:hover {
      background-color: transparent;
      color: $Soft-Red;
    }

    .icon-container-header {
      display: flex;
      margin-top: 3rem;
      gap: 2rem;

      svg:hover {
        cursor: pointer;
        path {
          fill: $Soft-Red;
        }
      }
    }

    .hidden {
      display: none;
    }
  }

  .mobile-menu-btn {
    display: none;
    border: none;
    background: none;
    cursor: pointer;

    img {
      width: 30px;
      height: 22px;
    }

    .close-img {
      display: none;
      height: 24px;
    }

    .show {
      display: block;
    }
  }
}

@keyframes fade {
  0% {
    opacity: 0;
    transform: scale(1.1);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.show {
  display: block;
}

.hidden {
  display: none;
}

@import "../../styles/media-queries.scss";
