@import "../../styles/variables.scss";

header {
  margin: 0 auto;
  width: 80%;
  height: 20vh;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .nav-container {
    display: flex;
    align-items: center;
    gap: 3rem;
    animation: fade 1s;

    nav {
      text-transform: uppercase;
      letter-spacing: 0.1rem;
      font-size: 0.9rem;

      ul {
        display: flex;
        align-items: center;
        gap: 3rem;
        list-style: none;

        .bottom-line-li {
          width: 100%;
          border-bottom: 1px solid rgba(189, 189, 189, 0.308);
          margin: 0;
        }

        li {
          a {
            color: $Very-Dark-Blue;
            text-decoration: none;
          }

          a:hover {
            color: $Soft-Red;
          }
        }
      }
    }

    .login-btn {
      @include btn-default($Soft-Red);
      padding: 0.72rem 2rem;
      text-transform: uppercase;
    }

    .login-btn:hover {
      background-color: transparent;
      color: $Soft-Red;
    }

    .icon-container-header {
      display: flex;
      margin-top: 3rem;
      gap: 2rem;

      svg:hover {
        cursor: pointer;
        path {
          fill: $Soft-Red;
        }
      }
    }

    .hidden {
      display: none;
    }
  }

  .mobile-menu-btn {
    display: none;
    border: none;
    background: none;
    cursor: pointer;

    img {
      width: 30px;
      height: 22px;
    }

    .close-img {
      display: none;
      height: 24px;
    }

    .show {
      display: block;
    }
  }

  @media (max-width: 880px) {
    display: flex;
    align-items: flex-start;
    justify-content: center;

    .mobile-menu-btn {
      z-index: 1;
      display: block;
      position: absolute;
      right: 5%;
      top: 10%;
    }

    .bookmark-logo {
      z-index: 1;
      position: absolute;
      left: 5%;
      top: 10%;
    }

    .bookmark-white {
      g {
        path {
          fill: white;
        }
      }
    }

    .nav-container {
      position: absolute;
      margin-top: 7.5rem;
      z-index: 1;
      display: flex;
      align-items: center;
      justify-content: end;
      flex-direction: column;
      transition: all 0.4s;
      width: 100%;

      .nav {
        width: 80%;

        ul {
          margin: 0;
          padding: 0;
          flex-direction: column;
          gap: 1.4rem;

          li {
            a {
              color: white;
              font-size: 1.2rem;
            }
          }
        }
      }

      .login-btn {
        width: 220px;
        background-color: transparent;
        border-color: white;
        font-size: 1rem;
      }

      .login-btn:hover {
        background-color: white;
        color: $Very-Dark-Blue;
      }
    }

    .hidden {
      display: none;
    }
  }
}

@keyframes fade {
  0% {
    opacity: 0;
    transform: scale(1.1);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.show {
  display: block;
}

.hidden {
  display: none;
}
