@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500&display=swap");

$Soft-Blue: hsl(231, 69%, 60%);
$Soft-Red: hsl(0, 94%, 66%);
$Grayish-Blue: hsl(229, 8%, 60%);
$Light-Grayish-Blue: hsla(0, 0%, 47%, 0.103);
$Very-Dark-Blue: hsl(229, 31%, 21%);

html,
body,
#root {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

.overlay {
  background-color: hsla(229, 31%, 21%, 0.904);
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 1;
  transition: all 1s;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Rubik", serif;
}

main {
  margin: 0;
  padding: 0;
}

@mixin btn-default($color-value) {
  border: none;
  font-size: 0.9rem;
  font-weight: bold;
  letter-spacing: 0.1rem;
  color: white;
  border: 2px solid $color-value;
  background-color: $color-value;
  border-radius: 0.3rem;
  transition: all 0.3s;
  box-shadow: 0px 6px 8px -2px rgba(75, 120, 155, 0.363);
  cursor: pointer;
}